/* Nav Bar CSS */
body {padding-top: 62px}

/* Header CSS */
 html { 
  background: url( http://images.all-free-download.com/images/graphiclarge/multicolor_watercolor_splash_background_illustration_vector_544856.jpg

) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


